@font-face {
    font-family: 'sf';
    font-weight: 500;
    src: url(./sf/SFProDisplay-Medium.woff2);
}
@font-face {
    font-family: 'sf';
    font-weight: 400;
    src: url(./sf/SFProDisplay-Regular.woff2);
}
@font-face {
    font-family: 'sf';
    font-weight: 700;
    src: url(./sf/SFProDisplay-Bold.woff2);
}